body{
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color:  #20B2AA;
}
.navbar {
    margin-bottom: 0;
    background-color:  #20B2AA;
    z-index: 9999;
    border: 0;
    font-size: 12pt !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color:  #20B2AA !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.navbar-nav > li > .dropdown-menu { 
    background-color:  #20B2AA; 
}
article a{
    color: #616161; 
    background-color:#fff;
}
.btn-psn a{
    background-color: #20B2AA;
    color: #fff;
    text-decoration: none;
    font-size: 16px;    
}
p{
    font-size: 12pt;
}